{{#partial "content"}}

    <h5 style="text-align : center; padding : 20px 0; "><strong>All Sightings</strong></h5>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Animal</th>
            <th scope="col">Ranger</th>
            <th scope="col">Location</th>
            <th scope="col">Created At</th>
        </tr>
        </thead>
        {{#each sightings}}
        <tbody>
        <tr>
            <th scope="row">{{ id }}</th>
            <td>{{ animalName }}</td>
            <td>{{ ranger_id }}</td>
            <td>{{ location_id }}</td>
            <td>{{ created_at }}</td>
        </tr>
        </tbody>
        {{/each}}
    </table>

{{/partial}}
{{>layout.hbs}}